body {
  background-color: magenta;
}

#nav {
  border: 1px solid black;
}

#nav li {
  list-style-type: none;
}

#nav li a {
  text-decoration: none;
}

#nav li a:hover {
  color: cyan;
  text-decoration: underline;
}

